div{
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
}

#fourth{
    display:none;
}

h1{
    border:2px solid black;
    width:20%;
}

#outer{
    height:100px;
    width: 100px;
    background-color: pink;
}

#inner{
    height: 40%;
    width: 40%;
    background-color: cornflowerblue;
    margin:25% ;
}
