

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new post</title>
</head>
<body>
    <form method="post" action="/posts">
        <hr>
        <input placeholder="enter username" name="username" />
        <hr>
        <textarea placeholder="write your post" name="content"> </textarea>
        <hr>
        <button>Submit Post</button>
        <hr>
    </form>
</body>
</html>

