<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WRITE NEW CHAT</title>
</head>
<body>
    <h3>WRITE NEW CHAT HERE</h3>
    <form method="POST" action="/chats">
        <hr>
        <input type="text" name="from" placeholder="who are you ?">
        <hr>
        <textarea name="msg" cols="15" rows="5" placeholder="write message here"></textarea>
        <hr>
        <input placeholder="add receiver" name="to">
        <hr>
        <button> CREATE CHAT</button>
        <hr>
    </form>
</body>
</html>