<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>this is the home page</h1>
    <h2><%= 1*2+1 %></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Ipsam impedit aperiam exercitationem sit fuga accusamus 
        error inventore similique reprehenderit fugiat doloremque, 
        veniam esse repudiandae accusantium recusandae eos totam
         pariatur quam?
    </p>
    <button> click me!</button>
</body>
</html>